<div class="floor-container">
  <p *ngIf="successMessage">{{ successMessage }}</p>
  <h1>Create Floor</h1>
  <form (ngSubmit)="createFloor()">
    <label>Building ID</label>
    <select [(ngModel)]="newFloor.buildingId" name="Building ID">
      <option *ngFor="let building of buildings" [value]="building.buildingId">{{ building.buildingId }}</option>
    </select>
    <label> Floor Number</label>
    <select  name="floorNumber" [(ngModel)]="newFloor.floorNumber">
      <option *ngFor="let number of floorOptions" [value]="number">{{ number }}</option>
    </select>
    <input [(ngModel)]="newFloor.floorDescription" name="floorDescription" placeholder="Description">
    <button type="submit">Create Floor</button>
  </form>

  <input [(ngModel)]="filterText" placeholder="Filter by ID">
  <button (click)="filterFloors()">Filter</button>

  <table>
    <thead>
    <tr>
      <th>Building ID</th>
      <th>Floor ID</th>
      <th>Floor Number</th>
      <th>Description</th>
      <th>Connections</th>
      <th>Rooms</th>
      <th>Elevators</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let floor of filteredFloors">
      <td>{{ floor.buildingId }}</td>
      <td>{{ floor.floorId }}</td>
      <td><input [(ngModel)]="floor.floorNumber" placeholder="Floor Number"></td>
      <td><input [(ngModel)]="floor.floorDescription" placeholder="Description"></td>
    <td>
      <div *ngFor="let connections of floor.connections">
        Connection Id: {{ connections.connectionId }}, Origin: {{ connections.floorfromId }},
        Destination: {{ connections.floortoId }}
      </div>
    </td>
    <td>
      <div *ngFor="let room of floor.rooms">
        Room Id: {{ room.roomId }}, Floor Id: {{ room.floorId }}, Room Name: {{ room.roomName }},
        Room Description: {{ room.roomDescription }}, Room Category: {{ room.roomCategory }}
      </div>
    </td>
    <td>
      <div *ngFor="let elevators of floor.elevators">
        Elevator Id: {{ elevators.elevatorId }}, Floors Attended: {{ elevators.floorsAttended }},
        Brand: {{ elevators.elevatorBrand }}, Model: {{ elevators.elevatorModel }}, Serial Number: {{ elevators.elevatorSerNum }},
        Description: {{ elevators.elevatorDesc}}, Current Floor: {{ elevators.currentFloor }}
      </div>
    </td>
      <td><button (click)="editFloor(floor)">Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
