.building-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

form {
  display: flex;
  flex-direction: column;
}

input{
  padding: 4px;
  font-size: 12px;
  margin-right: 2px;
}

select {
  padding: 4px;
  font-size: 18px;
  margin-right: 2px;
}

.building-container h1 {
  text-align: center;
  color: #333;
}

.building-container form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


.building-container input, .building-container select {
  margin: 2px 0;
  padding: 8px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.building-container

.building-container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.building-container button:hover {
  background-color: #0056b3;
}

.building-container table {
  width: 100%;
  border-collapse: collapse;
}

.building-container th, .building-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.building-container th {
  background-color: #f2f2f2;
}

.building-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.building-container tr:hover {
  background-color: #ddd;
}

.floor-div {
  /* Add your styles here */
  padding: 5px;
  background-color: #e8e8e8;
  margin-bottom: 5px;
}

.connection-div {
  /* Add your styles here */
  padding: 5px;
  background-color: #f2f2f2;
  margin-bottom: 5px;
}

.room-div {
  /* Add your styles here */
  padding: 5px;
  background-color: #f2f2f2;
  margin-bottom: 5px;
}

.elevator-div {
  /* Add your styles here */
  padding: 5px;
  background-color: #f2f2f2;
  margin-bottom: 5px;
}
.success-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.building-container select {
  padding: 4px;
  font-size: 18px;
  margin-right: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.building-container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.building-container button:hover {
  background-color: #0056b3;
}
