.app-footer {
  background-color: #f8f9fa;
  padding: 0.5em 0; /* Reduce padding */
  text-align: center;
  font-size: 0.8em; /* Reduce font size */
  margin-bottom: -20px;
  color: #333;
  border-top: 0px solid #dee2e6;
  position: fixed;
  width: 100%;
  bottom: 0;
}
