<div class="connection-container">
  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  <div class="header-container">
  <h1>Connection Component</h1>
  </div>
  <button (click)="selectOption('create')">Create Building</button>
  <button (click)="selectOption('listOrEdit')">List or Edit Building</button>
  <div *ngIf="selectedOption === 'create'">
  <form (ngSubmit)="createConnection()">
    <label>Origin Building ID</label>
    <select [(ngModel)]="newConnection.buildingfromId" name="buildingfromId">
      <option *ngFor="let building of buildings" [value]="building.buildingId">{{ building.buildingId }}</option>
    </select>
    <label>Destination Building ID</label>
    <select [(ngModel)]="newConnection.buildingtoId" name="buildingtoId">
      <option *ngFor="let building of buildings" [value]="building.buildingId">{{ building.buildingId }}</option>
    </select>
    <label>Origin Floor ID</label>
    <select [(ngModel)]="newConnection.floorfromId" name="floorfromId">
      <ng-container *ngFor="let floor of floors">
        <option *ngIf="floor.buildingId === newConnection.buildingfromId" [value]="floor.floorId">{{ floor.floorId }}</option>
      </ng-container>
    </select>
    <label>Destination Floor ID</label>
    <select [(ngModel)]="newConnection.floortoId" name="floortoId">
      <ng-container *ngFor="let floor of floors">
        <option *ngIf="floor.buildingId === newConnection.buildingtoId" [value]="floor.floorId">{{ floor.floorId }}</option>
      </ng-container>
    </select>
      <label>Origin Dimension X</label>
      <select [(ngModel)]="newConnection.locationX" name="locationX">
        <option *ngFor="let number of coordinatesOption" [value]="number">{{ number }}</option>
      </select>
      <label>Origin Dimension Y</label>
      <select [(ngModel)]="newConnection.locationY" name="locationY">
        <option *ngFor="let number of coordinatesOption" [value]="number">{{ number }}</option>
      </select>
      <label>Destination Dimension X</label>
      <select [(ngModel)]="newConnection.locationToX" name="locationToX">
        <option *ngFor="let number of coordinatesOption" [value]="number">{{ number }}</option>
      </select>
      <label>Destination Dimension Y</label>
      <select [(ngModel)]="newConnection.locationToY" name="locationToY">
        <option *ngFor="let number of coordinatesOption" [value]="number">{{ number }}</option>
      </select>
    <button type="submit">Create Connection</button>
  </form>
  </div>
  <div *ngIf="selectedOption === 'listOrEdit'" class="list-edit-container">
    <div class="filtercon-id">
  <label>Origin ID</label>
  <select [(ngModel)]="filterOriginBuildingId">
    <option *ngFor="let building of buildings" [value]="building.buildingId">{{ building.buildingId }}</option>
  </select>
  <label>Destination ID</label>
  <select [(ngModel)]="filterDestinationBuildingId">
    <option *ngFor="let building of buildings" [value]="building.buildingId">{{ building.buildingId }}</option>
  </select>
  <button (click)="filterConnectionsByBuildings()">Filter</button>
    </div>
    <div class="filter-id">
  <input [(ngModel)]="filterText" placeholder="Filter by ID">
  <button (click)="filterConnections()">Filter</button>
    </div>
  <table>
    <thead>
    <tr>
      <th>Origin Building</th>
      <th>Destination Building</th>
      <th>Origin Floor</th>
      <th>Destination Floor</th>
      <th>Origin Dimension X</th>
      <th>Origin Dimension Y</th>
      <th>Destination Dimension X</th>
      <th>Destination Dimension Y</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let connections of filteredConnections">
      <td>{{ connections.buildingfromId }}</td>
      <td>{{ connections.buildingtoId }}</td>
      <td>{{ connections.floorfromId }}</td>
      <td>{{ connections.floortoId }}</td>
      <td><input [(ngModel)]="connections.locationX" placeholder = "Location X"></td>
      <td><input [(ngModel)]="connections.locationY" placeholder = "Location Y"></td>
      <td><input [(ngModel)]="connections.locationToX" placeholder = "Location To X"></td>
      <td><input [(ngModel)]="connections.locationToY" placeholder = "Location To Y"></td>
      <td><button (click)="editConnection(connections)">Update</button></td>
    </tr>
    </tbody>
  </table>
</div>
</div>

