<div class="robotType-container">
  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  <div class="header-container">
    <h1>Robot Type Component</h1>
  </div>
  <button (click)="selectOption('create')">Create Building</button>
  <button (click)="selectOption('listOrEdit')">List or Edit Building</button>
  <div *ngIf="selectedOption === 'create'">
  <form (ngSubmit)="createRobotType()">
    <input [(ngModel)]="newRobotType.typeId" name="typeId" placeholder="Type ID">
    <input [(ngModel)]="newRobotType.brand" name="brand" placeholder="Brand">
    <input [(ngModel)]="newRobotType.model" name="model" placeholder="Model Number">
    <label>Task Category</label>
    <select name="taskCategory" [(ngModel)]="newRobotType.taskCategory" >
      <option *ngFor="let taskCategoryType of taskCategoryTypes" [value]="taskCategoryType">{{ taskCategoryType }}</option>
    </select>
    <button type="submit">Create Robot Type</button>
  </form>
  </div>
  <div *ngIf="selectedOption === 'listOrEdit'" class="list-edit-container">
    <div class="filter-id">
  <input [(ngModel)]="filterText" placeholder="Filter by Type ID">
  <button (click)="filterRobotTypes()">Filter</button>
      </div>
  <table>
    <thead>
    <tr>
      <th>Type ID</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Task Category</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let robotType of filteredRobotTypes">
      <td>{{ robotType.typeId }}</td>
      <td>{{ robotType.brand }}</td>
      <td>{{ robotType.model }}</td>
      <td>{{ robotType.taskCategory }}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>


