<div class="elevator-container">
  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  <h1>Create Elevator</h1>
  <form (ngSubmit)="createElevator()">
    <input [(ngModel)]="newElevator.elevatorId" name="elevatorId" placeholder="Elevator ID">
    <label>Building</label>
    <select [(ngModel)]="selectedBuildingId">
      <option *ngFor="let building of buildings" [value]="building.buildingId">{{ building.buildingId }}</option>
    </select>
    <label>Floors Attended</label>
    <select [(ngModel)]="selectedFloors" name="Floors Attended" multiple>
      <ng-container *ngFor="let floor of floors | buildingFilter: selectedBuildingId">
        <option [value]="floor">{{ floor }}</option>
      </ng-container>
    </select>
    <p>You have selected {{ selectedFloors?.length }} floor(s).</p>
    <input [(ngModel)]="newElevator.elevatorBrand" name="elevatorBrand" placeholder="Elevator Brand">
    <input [(ngModel)]="newElevator.elevatorModel" name="elevatorModel" placeholder="Elevator Model">
    <input [(ngModel)]="newElevator.elevatorSerNum" name="elevatorSerNum" placeholder="Elevator Serial Number">
    <input [(ngModel)]="newElevator.elevatorDesc" name="elevatorDesc" placeholder="Elevator Description">
    <label>Current Floor</label>
    <select [(ngModel)]="newElevator.currentFloor" name="currentFloor">
      <option *ngFor="let floor of selectedFloors" [value]="floor.split('-')[1]">{{ floor.split('-')[1] }}</option>
    </select>
    <label>Pos X</label>
    <select [(ngModel)]="newElevator.locationX" name="locationX">
      <option *ngFor="let locationX of coordinateOptions" [value]="locationX">{{ locationX }}</option>
    </select>
    <label>Pos Y</label>
    <select [(ngModel)]="newElevator.locationY" name="locationY">
      <option *ngFor="let locationY of coordinateOptions" [value]="locationY">{{ locationY }}</option>
    </select>
    <button type="submit">Create Elevator</button>
  </form>

  <input [(ngModel)]="filterText" placeholder="Filter by ID">
  <button (click)="filterElevators()">Filter</button>

  <table>
    <thead>
    <tr>
      <th>Elevator ID</th>
      <th>Floors Attended</th>
      <th>Elevator Brand</th>
      <th>Elevator Model</th>
      <th>Elevator Serial Number</th>
      <th>Elevator Description</th>
      <th>Current Floor</th>
      <th>Pos X</th>
      <th>Pos Y</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let elevator of filteredElevators">
      <td>{{ elevator.elevatorId }}</td>
      <td>
        <ul>
          <li *ngFor="let floor of elevator.floorsAttended">{{ floor }}</li>
        </ul>
      </td>
      <td>{{ elevator.elevatorBrand }}</td>
      <td>{{ elevator.elevatorModel }}</td>
      <td>{{ elevator.elevatorSerNum }}</td>
      <td>{{ elevator.elevatorDesc }}</td>
      <td>{{ elevator.currentFloor }}</td>
      <td>{{ elevator.locationX }}</td>
      <td>{{ elevator.locationY }}</td>
    </tr>
    </tbody>
  </table>
</div>
