<!-- account.component.html -->

<div class="user-info-container" *ngIf="currentUser">
  <div class="user-info">
    <h2>User Information</h2>
    <div>
      <span class="label">First Name:</span> {{ currentUser.firstName }}
    </div>
    <div>
      <span class="label">Last Name:</span> {{ currentUser.lastName }}
    </div>
    <div>
      <span class="label">Email:</span> {{ currentUser.email }}
    </div>
    <div>
      <span class="label">Role:</span> {{ currentUser.role }}
    </div>
    <!-- Add more fields as needed -->

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>

  <!-- account.component.html -->

  <div class="delete-account">
    <h2>Delete account</h2>
    <div>
      <p>Deleting your account will remove all of your</p>
      <p>information from our database. This action cannot</p>
      <p>be undone.</p>
    </div>
    <!-- Add more fields as needed -->

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <!-- Delete Account Button -->
    <div class="delete-account-container">
      <!-- Delete Account Button -->
      <button class="delete-account-btn" (click)="deleteAccount()">Delete account</button>
    </div>

  </div>



</div>

<div class="user-not-logged-in" *ngIf="!currentUser">
  <p>User is not logged in. Please log in to view account information.</p>
  <!-- You can also navigate to the login page if needed -->
  <!-- <button (click)="navigateToLogin()">Go to Login</button> -->
</div>
