.path-search {
  margin: 20px;
  width: 40%;

}

.path-search form div {
  margin-bottom: 10px;
}

.path-search form label {
  display: block;
  margin-bottom: 5px;
}

.path-search form select,
.path-search form input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.path-search form button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.path-search form button:hover {
  background-color: #0056b3;
}

.list-path-between-two-rooms {
  margin: 20px;
}

.path-result {
  width: 100%;
  border-collapse: collapse;
}

.path-result th,
.path-result td {
  border: 1px solid #ddd;
  padding: 8px;
}

.path-result th {
  background-color: #007BFF;
  color: white;
}
