<div class="path-search">
  <form (submit)="onSubmit()">
    <div>
      <label for="originB">Origin Building:</label>
      <input type="text" id="originB" name="originB" [(ngModel)]="originB">
    </div>
    <div>
      <label for="destB">Destination Building:</label>
      <input type="text" id="destB" name="destB" [(ngModel)]="destB">
    </div>
    <div>
      <label for="originF">Start Floor:</label>
      <input type="text" id="originF" name="originF" [(ngModel)]="originF">
    </div>
    <div>
      <label for="destF">End Floor:</label>
      <input type="text" id="destF" name="destF" [(ngModel)]="destF">
    </div>
    <div>
      <label for="originX">Start Origin:</label>
      <input type="text" id="originX" name="originX" [(ngModel)]="originX">
    </div>
    <div>
      <label for="originY">Start Destination:</label>
      <input type="text" id="originY" name="originY" [(ngModel)]="originY">
    </div>
    <div>
      <label for="destX">End Origin:</label>
      <input type="text" id="destX" name="destX" [(ngModel)]="destX">
    </div>
    <div>
      <label for="destY">End Destination:</label>
      <input type="text" id="destY" name="destY" [(ngModel)]="destY">
    </div>
    <button type="submit">Search</button>
  </form>
</div>
      <div class="list-path-between-two-rooms">
        <h2>Path Result:</h2>
        <p id="pathResult">{{ pathResult }}</p>
      </div>
