
.building-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

form {
  display: flex;
  flex-direction: column;
}

input, select {
  padding: 4px;
  font-size: 8px;
  margin-right: 2px;
}

.building-container h1 {
  text-align: center;
  color: #333;
}

.building-container form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


.building-container input, .building-container select {
  margin: 2px 0;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.building-container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.building-container button:hover {
  background-color: #0056b3;
}

.building-container table {
  width: 100%;
  border-collapse: collapse;
}

.building-container th, .building-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.building-container th {
  background-color: #f2f2f2;
}

.building-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.building-container tr:hover {
  background-color: #ddd;
}
