<div class="robot-container">
  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  <h1>Create Robot</h1>
  <form (ngSubmit)="createRobot()">



    <input [(ngModel)]="newRobot.idRobot" name="idRobot" placeholder="ID">
    <input [(ngModel)]="newRobot.robotName" name="robotName" placeholder="Robot Name">

    <label> Robot Type ID</label>
    <select [(ngModel)]="newRobot.typeId" name="Type ID">
      <option *ngFor="let robotType of robotTypes" [value]="robotType.typeId">{{ robotType.typeId }}</option>
    </select>

    <input [(ngModel)]="newRobot.serialNumber" name="serialNumber" placeholder="Serial Number">
    <input [(ngModel)]="newRobot.description" name="description" placeholder="Description">
    <label>Active</label>
    <select [(ngModel)]="newRobot.active" name="active">
      <option value="true">True</option>
    </select>
    <button type="submit">Create Robot</button>
  </form>

  <input [(ngModel)]="filterText" placeholder="Filter by ID">
  <button (click)="filterRobots()">Filter</button>

  <table>
    <thead>
    <tr>
      <th>Robot ID</th>
      <th>Robot Name</th>
      <th>Type ID</th>
      <th>Serial Number</th>
      <th>Description</th>
      <th>Active</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let robot of filteredRobots">
      <td>{{ robot.idRobot }}</td>
      <td>{{ robot.robotName }}</td>
      <td>{{ robot.typeId }}</td>
      <td>{{ robot.serialNumber }}</td>
      <td>{{ robot.description }}</td>
      <td>{{ robot.active }}</td>
      <td><button (click)="patchRobot(robot)">Patch</button></td>
    </tr>
    </tbody>
  </table>
</div>
